#Mac spezifisch
.DS_Store

#Ordner mit Daten die nicht ins Repositorie kommen sollen
/*.noGit

#Office, mindestens Windows sicher, spezifisch
~$*.*

#Visual Paradigm Temp Files nicht speichern
*.vpp.working
*.vpp~*
*.vpp.bak
