#Mac spezifisch
.DS_Store

#Ordner mit Daten die nicht ins Repositorie kommen sollen
*.noGit
/*.noGit

#Office, mindestens Windows sicher, spezifisch
~$*.*

#Visual Paradigm Temp Files nicht speichern
*.vpp.working
*.vpp.working*
*.vpp~*
*.vpp.bak*
*.vpp.new*
